body {
    font-family: Arial, sans-serif;
    padding: 20px;
    justify-items: center;
}

form{
    border: 2px rgb(108, 108, 109) solid ;
    box-shadow: 0 6px 22px rgba(20, 20, 20, 0.06);
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
}

.form-heading{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top:0 ;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select{
    margin-bottom: 10px;
    padding: 5px;
}

button{
    margin: 5px;
    padding: 3px 6px 3px 6px;
}



/* body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
form {
    max-width: 500px;
    margin-bottom: 30px;
}
label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}
input, select, textarea {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}
.inline {
    width: auto;
    margin-right: 10px;
}
button {
    margin-top: 15px;
    padding: 8px 15px;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
}
table, th, td {
    border: 1px solid #333;
}
th, td {
    padding: 8px;
    text-align: left;
} */