html,
body {
    width: 99.7%;
    height: 99.7%;
    margin: 0;
    padding: 0;
}

body {
    border: 2px solid lightgrey;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.topbar-brand,
.topbar-search,
.topbar-avatar {
    height: 50%;
    background: lightgrey;
    margin-top: 18px;
}

.topbar-brand {
    width: 200px;
    margin-left: 20px;
    border-radius: 8px;
    background: black;
}

.topbar-search {
    width: 600px;
    margin-left: 30px;
    margin-right: 100px;
    border-radius: 20px;
}

.topbar-avatar {
    width: 50px;
    border-radius: 25px;
    position: absolute;
    right: 10px;
}

.workspace {
    display: flex;
    height: 1150px;
}

.list-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list-toolbar {
    height: 50px;
    display: flex;
    align-items: center;
}

.filter-pill {
    width: 80px;
    height: 70%;
    background: lightgrey;
    margin-left: 20px;
    border-radius: 18px;
}

.list-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list-item {
    width: 90%;
    height: 300px;
    margin: 20px 0 0 30px;
    display: flex;
}

.item-side {
    flex: 1;
    background: lightgrey;
    border-radius: 8px;
    margin-right: 5px;
}

.item-body {
    flex: 2;
    position: relative;
}

.item-line {
    margin-left: 15px;
    margin-top: 10px;
    background: rgb(230, 228, 228);
}

.item-line.sm {
    width: 120px;
    height: 20px;
}

.item-line.md {
    width: 190px;
    height: 30px;
}

.item-action {
    width: 100px;
    height: 30px;
    background: lightgrey;
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
}

.map-panel {
    flex: 1;
    background: lightgrey;
    position: relative;
}

.map-pin {
    width: 20px;
    height: 30px;
    background: white;
    border-radius: 10px;
    position: absolute;
}

.pin-a {
    top: 170px;
    left: 300px;
}

.pin-b {
    top: 250px;
    right: 300px;
}

.pin-c {
    bottom: 80px;
    left: 250px;
}

.pin-d {
    bottom: 0;
    right: 150px;
    background: black;
}

.map-marker.stack {
    position: absolute;
    top: 50px;
    left: 80px;
    width: 60px;
    height: 110px;
    display: flex;
    flex-direction: column;
}

.marker {
    flex: 1;
    background: white;
    border-radius: 10px;
}

.marker:first-child {
    margin-bottom: 10px;
}
